# Maven
target/

# IDE - IntelliJ
.idea/
*.iml
*.iws

# IDE - VS Code
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json

# IDE - Eclipse
.classpath
.project
.settings/

# OS
.DS_Store
Thumbs.db

# Logs
*.log